body {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(69, 80, 84);
}
html, body {
    height: 100%;
}
.max-width {
    max-width: 414px;
    margin: 0 auto;
}
.mui-slider-indicator .mui-indicator {
    box-shadow: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
}
.mui-slider-indicator .mui-indicator.mui-active{
    box-shadow: none;
    background-color: rgb(79, 189, 146);
}

/* menu-list */
.menu-list {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    z-index: 99;
    display: none;
}
.menu-list .mui-table-view {
    z-index: 1;
}
.menu-list .mui-table-view-cell {
    display: list-item;
    color: inherit;
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 18px;
    padding-left: 40px;
    line-height: 28px;
    cursor: pointer;
}
.menu-list .mui-table-view-cell:after {
    left: 0;
}
.menu-list .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.8);
}
.menu-home {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAXCAYAAAALHW%2BjAAAAAXNSR0IArs4c6QAAAVdJREFUOBHllb1Kw1AYhlN%2FsIOgIAgibqKj4uQgXoF34ObqLejWm3DRLoKbaxdB0MnJxUEcREUsDv4MiqCoz1NyIKlp2oZsvvDknPN97%2Fe2JKGtRN1VwbIV22qsP91HOjsGadXBENkDa4U0wtQhGLQd496avb40ivsIvmEzMenemj09PWkC1xl8wnrGhDV7evTmapruBbzDWo7Tnh69zmRqluo1vMJqpiNd1KPXGWdTWuDUhEdYSnXyD3qdcdaMlpa5PsMNzLcq%2FV2cuQUzzIoacA8zHgrKWTMaA1yqcAV3UFTOmlE1sFSVHjiU8%2FXG6EmWfF3kjzoFjuN8AO9vlj4oTsFLezMv0LBdOG0bWuG8AX5oz4Eh44RNPRzi1V8cAzNV%2BkP5h4HhKS9yh48Td7nT65KwRAccfH2CzDj3D2cYJkM1Xr9YL2EHnuJaWN7YzIVDYm2y3%2F8FphU%2FuEHLDUsAAAAASUVORK5CYII%3D);
}
.menu-search {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAXCAYAAAAP6L%2BeAAAAAXNSR0IArs4c6QAAAa1JREFUOBGtlU0oRFEYhg0iWUhk4SdjYSG2tgplZSNLGzt%2FpSwlsbCQNVZsSEKTv0JZikYplhbEwt9IipLy%2F7zNPZNmzty5M923njnnvt93vvnm3nPPBLLsKsBug1aogny4hzBswwOkpQDZAxCBX3iBMziGO5D3AdNQDJ5USNYmaPE%2BtEAu%2FFcdFyqq4hega1dlE92CT%2BhzzYwGGxlu4QbKo5b9cxBbnfbYw1a3HvcV9qxRTN2CJ7eEZAvxTUPNtpxOTHXbZAum8PKIP8O8LW%2FGCeo%2BZ6JlFl3FL1SxSriGH8hElyyqAG3VmFQ4B75jTvoTNaSiCYW1bYLxAa69Kkii3sSEX9yFqYenvZmu9IsjsGRbWISp%2FbhqC6bwuomrqfZkeaNOgraeV1WT%2BAhHbgu0Hw%2FgDTrcEp1YLeM5aA9r7qpSooegh7AAtgOmBH8EdOqJWfAkdT4B6lz3TifYLmzACXyB%2FBBMOfNJRs8qI7MX1iAMp7ADY9AARnpr9UXjxvBr1EsxByo%2B7FdRU0d7eRFUfMiYfo06FlZAxfv9Kmrq6G9sHd5Bc1%2BlzmtU8Q%2B35lepl%2F9utwAAAABJRU5ErkJggg%3D%3D);
}
.menu-contact {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAYAAAArdgcFAAAAAXNSR0IArs4c6QAAAOFJREFUOBHtlDELQVEYhs%2FFIsVNVrPNoGQxKJN%2FY7Fh8Ats%2FgY%2FQBmkpMhG%2BQMWyWLD89Yd5B515dztvvV0v977nffU1%2BnzjDElqMIDXClF0F5hM3jGwDRDaAF0SxdcaUyQr3DpCgsVjqQ8o9nEpiTcOtpkLMlYrBOwmrG%2BFu0WrdoitCCKbjRtvzTW8PPgw0U9A%2Fh15fZ08EPy3nP6HoZGU4csRNGIpga0YRkcaPKdwxqGcIcN%2FCzt%2FyOcoRyg%2BgD697cqJGhn7wJUy3OmDkl6DEJ1SOmQE9040ZqDFUxsx17kmES0Z9i03gAAAABJRU5ErkJggg%3D%3D);
}
.menu-show .menu-list {
    display: block;
}

/* provdied */
.provdied {
    height: 100%;
    background-color: rgb(69, 80, 84);
    color: rgba(255,255, 255, 0.50);
    text-align: center;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
}
.provdied-img {
    width: 24px;
    height: 24px;
    margin: 25px 0 8px 0;
}
.provdied-text {
    font-size: 13px;
    line-height: 18px;
}

#wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

/* detail */
.product-detail {
    background-color: #f1f1f1;
}
.product-detail .basic-info{
     text-align: center;
     background-color: #fff;
     width: 100%;
     color: rgb(69, 80, 84);
}
.product-detail .desc {
    font-size: 17px;
    line-height: 50px;
}
.product-detail .price {
    font-size: 20px;
    line-height: 50px;
    border-top: 1px solid #e6e6e6;
    color: rgb(240, 88, 48)
}

.product-detail .desc-info {
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    color: rgb(81, 104, 128);
    margin-top: 10px;
}

.mui-slider-item.mui-control-content.item-desc-1 {
    height: 500px;
    border-bottom: none !important;
    margin-top: -1px;
}

.mui-control-item.desc-info-title{
    line-height: 48px;
    font-size: 16px;
}
.mui-scroll.desc-contain {
    padding: 15px;
    line-height: 26px;
    font-size: 16px;
}
.icon-img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
}
.icon-contain {
    line-height: 38px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    margin-right: 10px;
}
.btn-buy {
    background-color: rgb(240, 88, 48);
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    z-index: 2;
    line-height: 50px;
    text-align: center;
}
.btn-edit {
    color: rgb(240, 88, 48);
    background-color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    z-index: 2;
    line-height: 50px;
    text-align: center;
}

.edit-btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 50px;
    z-index: 2;
}

.edit-btn-group .btn-left, .edit-btn-group .btn-right {
    width: 50%;
    height: 100%;
    line-height: 50px;
    border: none;
    padding: 0;
    float: left;
    border-radius: 0;
    font-size: 18px;
}

.edit-btn-group .btn-left {
    border-top: 1px solid rgb(216, 216, 216);
    color: rgb(240, 88, 48);
}
.edit-btn-group .btn-right {
    color: #fff;
    background-color: rgb(240, 88, 48);
}

.mui-segmented-control.mui-segmented-control-inverted ~ .desc-line.mui-slider-progress-bar{
    background-color: rgb(79, 189, 146);
}
.mui-control-item.desc-info-title.mui-active.desc-title{
    color:rgb(79, 189, 146);
}
.desc-text {
     padding-top: 40px;
}
.desc-1{
    padding-top: 10px;
}
.may-like {
     margin-bottom: 60px;
}
.may-like .like-text{
    margin: 15px 0 10px 15px;
    font-size: 18px;
}
.may-like .mui-table-view:before {
    background-color: transparent;
}

.mui-bar {
    height: 50px;
    line-height: 50px;
}
.mui-bar .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
}
.mui-bar .mui-icon-item {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAASCAYAAACw50UTAAAAAXNSR0IArs4c6QAAACxJREFUOBFjZGBg+A/ENAFMNDF11NDRECA5BBiBOkbTOcnBNqphiIXA0E3nAPTKAwfUKYGPAAAAAElFTkSuQmCC);
}
.mui-bar .mui-icon-cart {
    position: relative;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA0CAYAAADfRPtlAAAAAXNSR0IArs4c6QAABHpJREFUaAXtWluITlEUNpghw8gtjOQ2uYdcZwwpSaHkhRcpDx6kkAdv8iBSUh48IA%2BTF5TiiTRkBrklEyFmXAYxLpkx7mZG%2BL7f2Vr%2FmnPm3%2Bfy%2F%2F%2F5Nau%2B2Wvts9baa5299j77nH%2Fyuvyl3mhKgDxH1k0zOup1Z67IwxFoE%2FA7BY7mSkI6zg0pEpOJz9TGcZe7IsAbPoJc6EM3Fqpmzc1DNJwdI8vgdkLo5XScRbtEXvwf%2BEokYcr0C%2Fj8XEqKJZqKqoRCIfhZQo4961aSOuhSdFwTnefB3xZy3NhWBHQFOGMbWHcofgJMmeZKu802QeqdzsEEGxm4zRqknlyHlHOBEsuP5WdDOsF7MFpkY5hBHSZUB%2FRxxqzxMzZn%2BgNg1l8beO6ocaJJCMbEx3YHg7Mt0V%2FQvUQDhzjzs40Qk3auioM7qXWC1NVlqh1SJ5sk4%2BGEXPcbzFQYyBKwfs74HSigPtefie9uEB9cxO%2BFE75i2RwUgozl12agiItJHjQObNcg9WlYTcahfmgnGCHLrSxPhnLVxOMnQdpUGUOnLVdytkQdx78E%2FQY0EQamztlW%2BHWQJv3LIq63Ycd4I5zVhnUWgX0BfHwXMZ2SPv2WKG2rhYOx4LnAs0nTMXhPEUBSeQZJUK9DvcDFWBlh9fiJB7wZOYoEFxhnWWplgq2I4VYUcXAhc5MhfB1qoxhc%2BWhw4mAsSeVJvSAzSDvpiCccPhOzQaMw6FAxsIwr0R1FgvSRrTKV5cmEktYfO2zfB6krSd%2BpNfJiBvlVaiwdl7psL%2FaAagtg1mEc2idu4QctUSYXt7eJpAe8W7J%2B%2B%2FijzQMgDrPHo1qRWwJhX3fy4ZTfTQe5Oc9AH2%2FuK%2BAmQL6TOu9Art2BsGvQ5MufwJcBZcBgIOjzFaYpiefNBuAiUAlQTiuth3f5rSaTu%2BozjL0indnx404mE%2FIaa2s6ktzikRy%2FSboFwn6%2BedvCzQf73PyzbzkQGfEtXv%2Bkdhx9U4ACgN9uDgMySJ5%2BuD5taAaUpO1PyLuA0QCPiXOAC4DUeQqZz%2BVIaCO8SOeHPLzuVnq2v9lVKLt1Lv65QZ5TepH9%2F8BJ4Zh3ty%2FgRrzbcqb5O6MN1ULJ3MD7HRiwYowe2z1aN%2Bhhu1g4egj%2Bo5Aly7K8IzpYYqmIMzNSKPEY5kX8GY9r2tAww5g2aILS6QDjzKPtL%2FptnlmciTZhI%2B1Fd4ItxF%2F5Re2bVgiaIEvI0BAwZUZQLTeb8aJP2onudqzUm4%2BrXod5PgM544bqDBO2XQoHsvZZpiOUUyZeo%2FRWKx0vcbuy47un%2BeXW2EwDow8Y48zFsC3vGj%2FPySS5mRwANgH7AT34I%2FTZbuMs%2B2ZA%2Bn8OeS%2BwGTgCsNzl9ROQI6XJ8PYZkIN48T%2BgV%2Bpz9JWWvjnmS4AVEzmVw%2BM7wCsx9nMmFgNBaC2MWoCO%2FHPdRVaa8NWOeKrZB%2BhEm9DHki0GwhCDPwZ8BWSiLyBzrXIn9SS5A3kqWV7oBr0xAHe8RuAxwENAVMTHQQlQBLwG6oFO%2BgNKbiMFk7xqvQAAAABJRU5ErkJggg%3D%3D);
}
.mui-bar .mui-icon-cart:after {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 32px;
    min-width: 32px;
    font-size: 20px;
    display: block;
    content: attr(number);
    color: white;
    border-radius: 50%;
    background-color: rgb(240, 88, 48);
    text-align: center;
    transform: scale(0.5);
}
.mui-bar .mui-title {
    line-height: 50px;
    left: 100px;
    right: 100px;
}

.mui-bar .mui-title img {
    height: 34px;
    vertical-align: middle;
}

.mui-bar-nav ~ .mui-content {
    padding-top: 50px;
}

.mui-table-view.mui-grid-view.list-2 {
    padding: 0 10px 20px;
}
.mui-table-view.mui-grid-view.list-2 .mui-table-view-cell {
    padding: 20px 5px 0;
    margin-right: 0;
}
.mui-table-view.mui-grid-view.list-2 .mui-table-view-cell .mui-media-body {
    margin-top: 10px;
    height: 44px;
}
.mui-table-view.mui-grid-view.list-2 .mui-table-view-cell .mui-media-object {
    background-color: #f2f2f2;
    vertical-align: middle;
}

.mui-table-view.mui-grid-view.list-2 a {
    margin: 0!important;
    padding: 0;
}

.list-2-tit {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(69, 80, 84);

}

.list-2-price {
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
    color: rgb(240, 88, 48);
}

.edit-dialog {
    background: #fafafa !important;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 0;*/
    top: 0;
    z-index: 99;
    overflow: auto;
    padding-bottom: 60px;
}
.edit-dialog .btn-close {
    position: absolute;
    top: 8px;
    /*right: 10px;*/
    z-index: 2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 100;

    margin-left: 100%;
    -webkit-transform: translateX(-50px) rotate(45deg);
    transform: translateX(-50px) rotate(45deg);
    cursor: pointer;
}

.edit-dialog-info {
    padding: 17px 15px 26px;
    
}
.edit-dialog-info .con-t {
    font-size: 13px;
}
.edit-dialog-info .con-b {
    font-size: 20px;
}
.edit-dialog-info .con-b span {
    float: right;
    color: rgb(240, 88, 48);
}

.edit-dialog-cont {
    padding: 15px 15px 10px;
    border-top: 1px solid rgb(216, 216, 216);
    position: relative;
}
.edit-dialog-cont .tit {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    color: rgb(81, 104, 128);
}
.edit-dialog-cont .tit {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 36px;
    line-height: 44px;
}
.edit-dialog-cont .cont {
    margin-left: 38px;
}
.edit-dialog-cont .cont .btn-chek {
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    border-color: rgb(81, 104, 128);
    color: rgb(81, 104, 128);
    border-radius: 5px;
}
.edit-dialog-cont .cont .btn-icon {
    padding: 2px 15px 2px 3px;
}

/*.edit-dialog-cont .cont .btn-chek.active {
    background-color: rgb(79, 189, 146);
    color: #fff;
    border-color: rgb(79, 189, 146);
}*/
.edit-dialog-cont .mui-radio {
    display: inline-block;
    margin: 0 5px;
}
.edit-dialog-cont .mui-radio input[type=radio]:checked + .btn-chek {
    background-color: rgb(79, 189, 146);
    color: #fff;
    border-color: rgb(79, 189, 146);
}

.edit-dialog-cont .mui-numbox {
    height: 44px;
    width: 144px;
    border-color: rgb(238, 237, 237);
}
.edit-dialog-cont .mui-numbox .mui-btn {
    width: 44px;
    background-color: #fff;
    font-size: 24px;
}
.edit-dialog-cont .mui-numbox .mui-numbox-input {
    width: 60px !important;
    border-left: 1px solid rgb(238, 237, 237) !important;
    border-right: 1px solid rgb(238, 237, 237) !important;
    background-color: #fafafa;
    font-size: 20px;
}
.edit-dialog-cont .mui-numbox .mui-numbox-btn-minus {
    border-right: 1px solid rgb(238, 237, 237) !important;
}
.edit-dialog-cont .mui-numbox .mui-numbox-btn-plus {
    border-left: 1px solid rgb(238, 237, 237) !important;
}