
.product-detail {
    background-color: #f1f1f1;
}
.basic-info{
     text-align: center;
     background-color: #fff;
     width: 100%;
}
.desc {
    font-size: 17px;
    padding: 14px 0;
}
.price {
    font-size: 20px;
    padding: 14px 0;
    border-top: 1px solid #e6e6e6;
    color: rgb(240, 88, 48)
}

.desc-info {
    background-color: #fff;
    width: 100%;
    /*height: 700px;*/
    font-size: 16px;
    color: rgb(81, 104, 128);
    margin-top: 10px;
}
.mui-slider-item.mui-control-content.item-desc-1 {
    height: 500px;
}

.mui-control-item.desc-info-title{
    line-height: 46px;
}
.mui-scroll.desc-contain {
    padding: 15px;
    line-height: 26px;
    font-size: 16px;
}
.go-buy {
    background-color: rgb(240, 88, 48);
    color: #fff;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
}
.mui-segmented-control.mui-segmented-control-inverted ~ .desc-line.mui-slider-progress-bar{
    background-color: rgb(79, 189, 146);
}
.mui-control-item.desc-info-title.mui-active.desc-title{
    color:rgb(79, 189, 146);
}
.desc-text {
     padding-top: 40px;
}
.desc-1{
    padding-top: 10px;
}
.may-like {
     margin-bottom: 150px;
}
.like-text{
    margin: 15px 0 10px 15px;
}

.mui-bar {
    height: 50px;
    line-height: 50px;
}
.mui-bar .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}
.mui-bar .mui-icon-item {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAASCAYAAACw50UTAAAAAXNSR0IArs4c6QAAACxJREFUOBFjZGBg+A/ENAFMNDF11NDRECA5BBiBOkbTOcnBNqphiIXA0E3nAPTKAwfUKYGPAAAAAElFTkSuQmCC);
}
.mui-bar .mui-icon-cart {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA0CAYAAADfRPtlAAAAAXNSR0IArs4c6QAABHpJREFUaAXtWluITlEUNpghw8gtjOQ2uYdcZwwpSaHkhRcpDx6kkAdv8iBSUh48IA%2BTF5TiiTRkBrklEyFmXAYxLpkx7mZG%2BL7f2Vr%2FmnPm3%2Bfy%2F%2F%2F5Nau%2B2Wvts9baa5299j77nH%2Fyuvyl3mhKgDxH1k0zOup1Z67IwxFoE%2FA7BY7mSkI6zg0pEpOJz9TGcZe7IsAbPoJc6EM3Fqpmzc1DNJwdI8vgdkLo5XScRbtEXvwf%2BEokYcr0C%2Fj8XEqKJZqKqoRCIfhZQo4961aSOuhSdFwTnefB3xZy3NhWBHQFOGMbWHcofgJMmeZKu802QeqdzsEEGxm4zRqknlyHlHOBEsuP5WdDOsF7MFpkY5hBHSZUB%2FRxxqzxMzZn%2BgNg1l8beO6ocaJJCMbEx3YHg7Mt0V%2FQvUQDhzjzs40Qk3auioM7qXWC1NVlqh1SJ5sk4%2BGEXPcbzFQYyBKwfs74HSigPtefie9uEB9cxO%2BFE75i2RwUgozl12agiItJHjQObNcg9WlYTcahfmgnGCHLrSxPhnLVxOMnQdpUGUOnLVdytkQdx78E%2FQY0EQamztlW%2BHWQJv3LIq63Ycd4I5zVhnUWgX0BfHwXMZ2SPv2WKG2rhYOx4LnAs0nTMXhPEUBSeQZJUK9DvcDFWBlh9fiJB7wZOYoEFxhnWWplgq2I4VYUcXAhc5MhfB1qoxhc%2BWhw4mAsSeVJvSAzSDvpiCccPhOzQaMw6FAxsIwr0R1FgvSRrTKV5cmEktYfO2zfB6krSd%2BpNfJiBvlVaiwdl7psL%2FaAagtg1mEc2idu4QctUSYXt7eJpAe8W7J%2B%2B%2FijzQMgDrPHo1qRWwJhX3fy4ZTfTQe5Oc9AH2%2FuK%2BAmQL6TOu9Art2BsGvQ5MufwJcBZcBgIOjzFaYpiefNBuAiUAlQTiuth3f5rSaTu%2BozjL0indnx404mE%2FIaa2s6ktzikRy%2FSboFwn6%2BedvCzQf73PyzbzkQGfEtXv%2Bkdhx9U4ACgN9uDgMySJ5%2BuD5taAaUpO1PyLuA0QCPiXOAC4DUeQqZz%2BVIaCO8SOeHPLzuVnq2v9lVKLt1Lv65QZ5TepH9%2F8BJ4Zh3ty%2FgRrzbcqb5O6MN1ULJ3MD7HRiwYowe2z1aN%2Bhhu1g4egj%2Bo5Aly7K8IzpYYqmIMzNSKPEY5kX8GY9r2tAww5g2aILS6QDjzKPtL%2FptnlmciTZhI%2B1Fd4ItxF%2F5Re2bVgiaIEvI0BAwZUZQLTeb8aJP2onudqzUm4%2BrXod5PgM544bqDBO2XQoHsvZZpiOUUyZeo%2FRWKx0vcbuy47un%2BeXW2EwDow8Y48zFsC3vGj%2FPySS5mRwANgH7AT34I%2FTZbuMs%2B2ZA%2Bn8OeS%2BwGTgCsNzl9ROQI6XJ8PYZkIN48T%2BgV%2Bpz9JWWvjnmS4AVEzmVw%2BM7wCsx9nMmFgNBaC2MWoCO%2FHPdRVaa8NWOeKrZB%2BhEm9DHki0GwhCDPwZ8BWSiLyBzrXIn9SS5A3kqWV7oBr0xAHe8RuAxwENAVMTHQQlQBLwG6oFO%2BgNKbiMFk7xqvQAAAABJRU5ErkJggg%3D%3D);
}
.mui-bar .mui-title {
    line-height: 50px;
}

.mui-bar .mui-title img {
    height: 34px;
    vertical-align: middle;
}

.mui-bar-nav ~ .mui-content {
    padding-top: 50px;
}

.mui-table-view.mui-grid-view.list-2 {
    padding: 0 10px 20px;
}
.mui-table-view.mui-grid-view.list-2 .mui-table-view-cell {
    padding: 20px 5px 0;
    margin-right: 0;
}
.mui-table-view.mui-grid-view.list-2 .mui-table-view-cell .mui-media-body {
    margin-top: 10px;
    height: 44px;
}
.mui-table-view.mui-grid-view.list-2 .mui-table-view-cell .mui-media-object {
    background-color: #f2f2f2;
    vertical-align: middle;
}

.mui-table-view.mui-grid-view.list-2 a {
    margin: 0!important;
    padding: 0;
}

.list-2-tit {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(69, 80, 84);

}

.list-2-price {
    text-align: left;
    font-size: 13px;
    line-height: 1.5;
    color: rgb(240, 88, 48);
}

.edit-dialog {
    color: rgb(69, 80, 84);
    background: rgb(238, 237, 237) !important;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    overflow: auto;
}
.edit-dialog .btn-close {
    position: absolute;
    top: 13px;
    right: 25px;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
    color: #fff;
    font-size: 48px;
    display: inline-table;
}

.edit-dialog-info {
    padding: 17px 15px 26px;
    
}
.edit-dialog-info .con-t {
    font-size: 13px;
}
.edit-dialog-info .con-b {
    font-size: 20px;
}
.edit-dialog-info .con-b span {
    float: right;
    color: rgb(240, 88, 48);
}

.edit-dialog-cont {
    padding: 15px 15px 10px;
    border-top: 1px solid rgb(216, 216, 216);
    position: relative;
}
.edit-dialog-cont .tit {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
}
.edit-dialog-cont .tit {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 36px;
    line-height: 48px;
}
.edit-dialog-cont .cont {
    margin-left: 42px;
}
.edit-dialog-cont .cont .btn-chek {
    padding: 12px 15px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: rgb(81, 104, 128);
}
.edit-dialog-cont .cont .btn-chek.active {
    background-color: rgb(79, 189, 146);
    color: #fff;
    border-color: rgb(79, 189, 146);
}